body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9de;
}

.topnav {
    background-color: #ffffff;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.topnav a {
    color: #2d3c85;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
}

.topnav a:hover {
    background-color: #2d3c85;
    color: #fff;
    box-shadow: -5px 0 #f47a20, 5px 0 #f47a20;
    border-radius: 5px;
}

.topnav a.active {
    background-color: #f47a20;
    color: #fce828;
    border-radius: 5px;
}

.topnav img {
    height: 70px;
    margin-right: 20px;
}

.maincontainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 90%; /* Updated width for better alignment */
}

.lefthalfer,
.righthalfer {
    width: 45%;
}

.slider-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9de;
    border: 2px solid #238db3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.slider-container label {
    color: #2d3c85;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

#radius-slider {
    width: 100%;
    -webkit-appearance: none;
    height: 10px;
    background: #238db3;
    border-radius: 5px;
    outline: none;
    opacity: 0.8;
    transition: opacity .2s;
}

#radius-slider:hover {
    opacity: 1;
}

#radius-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #f47a20;
    border-radius: 50%;
    cursor: pointer;
}

#radius-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #f47a20;
    border-radius: 50%;
    cursor: pointer;
}

.legend {
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    width: 15%;
    margin-top: 20px;
}

.legend h4 {
    margin: 0 0 10px;
    font-size: 16px;
    color: #2d3c85;
}

.legend ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.legend li {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.legend-color {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 10px;
}

.legend-color.yellow {
    background-color: yellow;
}

.legend-color.orange {
    background-color: orange;
}

.legend-color.red {
    background-color: red;
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 800px;
    margin: 30px auto;
    border: 2px solid #238db3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.chat-box {
    padding: 20px;
    max-height: 500px;
    overflow-y: auto;
    border-bottom: 1px solid #238db3;
    background-color: #f7f7f7;
    max-height: 400px; 
}

.chat-message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.user-message {
    background-color: #72c6eb;
    align-self: flex-start;
    color: #ffffff;
}

.other-message {
    background-color: #f47a20;
    align-self: flex-end;
    color: #ffffff;
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #238db3;
}

.chat-input input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #238db3;
    border-radius: 5px;
    margin-right: 10px;
}

.chat-input button {
    background-color: #238db3;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #2d3c85;
}

.bottomnav {
    background-color: #2d3c85;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.footer-text a {
    color: #f7b921;
}

.footer-text a:hover {
    text-decoration: underline;
}

.shelters-container {
    padding: 20px;
    margin: 20px;
}

.shelter-card {
    background-color: #ffffff;
    border: 2px solid #238db3;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.shelter-card h3 {
    color: #f47a20;
    margin-bottom: 10px;
}

.shelter-card p {
    color: #333;
    font-size: 16px;
    margin: 5px 0;
}

.shelter-card strong {
    color: #2d3c85;
}